<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Simple kinect action menu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Start kinect <a href="/kinect?&command=start">here</a></p>
    <p>Stop kinect <a href="/kinect?&command=stop">here</a></p>
    <p>Get your coordinates <a href="/kinect?&command=getCOM">here</a></p>
    <p>Get skeleton data <a href="/kinect?&command=getSkeletonData">here</a></p>
</body>
</html>
